In [6]:
# Dependencies
import pandas as pd

In [33]:
salary_data = pd.read_csv("data-draft-salaries.csv")
salary_data.head()

   PICK      TEAM          PLAYER TOTAL CONTRACT  SIGNING BONUS
0   1.0   Bengals      Joe Burrow  $36.0 million  $23.9 million
1   2.0  Redskins     Chase Young  $34.6 million  $22.7 million
2   3.0     Lions     Jeff Okudah  $33.5 million  $21.9 million
3   4.0    Giants   Andrew Thomas  $32.3 million  $21.1 million
4   5.0  Dolphins  Tua Tagovailoa  $30.3 million  $19.6 million

In [29]:
salary_data.drop(df.columns[salary_data.columns.str.contains('unnamed',case = False)],axis = 0, inplace = True)
salary_data.head()

   PICK      TEAM          PLAYER TOTAL CONTRACT  SIGNING BONUS
0   1.0   Bengals      Joe Burrow  $36.0 million  $23.9 million
1   2.0  Redskins     Chase Young  $34.6 million  $22.7 million
2   3.0     Lions     Jeff Okudah  $33.5 million  $21.9 million
3   4.0    Giants   Andrew Thomas  $32.3 million  $21.1 million
4   5.0  Dolphins  Tua Tagovailoa  $30.3 million  $19.6 million

In [34]:
salary_data.to_html("salaryTable.html")

In [35]:
html_file = salary_data.to_html()