In [1]:
#Dependencies

from sklearn import tree
import pandas as pd
import os

In [2]:
#Importing QB Data

QB_data = pd.read_csv("../nfl-project3/QB Machine Learning.csv")

In [3]:
#Filtering QB Data by Frequency

QB_data = QB_data.loc[QB_data["Touches"] > 100]

QB_data

,Year,Name,College,POS,Height,Weight,HandSize,ArmLength,Wonderlic,FortyYard,BenchPress,VertLeap,BroadJump,Shuttle,ThreeCone,SixtyYdShuttle,Touches,Rate,RushAvg,RookieAV
0,2002,David Carr,Fresno St.,QB,75.400,223,9.75,31.75,24.0,4.67,NaN,35.0,106.0,4.28,7.05,NaN,1078,151.2,0.5,35
1,2002,Joey Harrington,Oregon,QB,76.000,215,9.75,31.50,32.0,4.85,NaN,32.0,107.0,4.21,7.00,NaN,1073,133.8,1.4,24
2,2002,Josh McCown,Sam Houston St.,QB,75.900,221,9.00,30.50,30.0,4.64,NaN,38.5,118.0,3.90,6.85,NaN,862,105.3,1.0,15
3,2002,Patrick Ramsey,Tulane,QB,74.500,219,10.00,31.13,32.0,5.24,NaN,33.5,111.0,4.09,7.12,NaN,1507,126.0,-0.8,14
4,2002,David Garrard,East Carolina,QB,73.900,235,10.50,31.00,14.0,4.83,NaN,33.5,110.0,4.26,7.35,NaN,1685,132.1,2.3,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2016,Brandon Doughty,Western Kentucky,QB,74.750,213,9.13,32.00,NaN,5.22,NaN,27.0,103.0,4.52,7.49,NaN,1593,161.0,-2.8,0
308,2016,Cardale Jones,Ohio St.,QB,77.000,253,9.75,33.75,NaN,4.81,NaN,36.0,NaN,NaN,NaN,NaN,422,147.4,4.0,0
309,2016,Christian Hackenberg,Penn St.,QB,76.375,223,9.00,32.00,NaN,4.78,NaN,31.0,114.0,4.33,7.04,NaN,1443,121.4,-1.2,0
310,2016,Connor Cook,Michigan St.,QB,76.000,217,9.75,33.00,NaN,4.79,NaN,33.0,113.0,4.28,7.21,NaN,1346,139.8,1.2,0
311,2016,Jake Rudock,Michigan,QB,75.000,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1272,134.1,2.9,0

In [4]:
#Initialize Rookie AV

target = QB_data["RookieAV"]

In [5]:
#Prepare QB data for modeling

data = QB_data.drop(["Year", "Name", "College", "POS", "SixtyYdShuttle", "BenchPress", "ThreeCone", "BroadJump", "VertLeap", "Shuttle", "RookieAV"], axis=1)
data.fillna(data.mean(), inplace=True)
feature_names = data.columns
data.head()

,Height,Weight,HandSize,ArmLength,Wonderlic,FortyYard,Touches,Rate,RushAvg
0,75.4,223,9.75,31.75,24.0,4.67,1078,151.2,0.5
1,76.0,215,9.75,31.50,32.0,4.85,1073,133.8,1.4
2,75.9,221,9.00,30.50,30.0,4.64,862,105.3,1.0
3,74.5,219,10.00,31.13,32.0,5.24,1507,126.0,-0.8
4,73.9,235,10.50,31.00,14.0,4.83,1685,132.1,2.3

In [6]:
#Randomly split the data into train and test data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=20)

In [7]:
#Create one regression tree and find the score

clf = tree.DecisionTreeRegressor()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

-0.2843681086489791

In [8]:
#Create a random forest regression and find the score

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=10000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.20133829920810808

In [9]:
#Show which variables impact the model the most

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.18146333730255787, 'Rate'),
 (0.14160329176878358, 'FortyYard'),
 (0.1402372228309201, 'Height'),
 (0.12432063847894569, 'Wonderlic'),
 (0.10675431075010952, 'RushAvg'),
 (0.10272100509249263, 'HandSize'),
 (0.08640541318847396, 'Touches'),
 (0.058359072436724745, 'Weight'),
 (0.05813570815099178, 'ArmLength')]

In [10]:
#Import 2017 QB data and fit it to the model

NewQBs = pd.read_csv("../nfl-project3/Quarterbacks 2017.csv")

NewQBs.fillna(data.mean(), inplace=True)

predictionDF = NewQBs.drop(["Year", "Name", "College", "POS"], axis = 1)

yhat = rf.fit(X_train, y_train).predict(predictionDF)

In [11]:
NewQBs

,Year,Name,College,POS,Height,Weight,HandSize,ArmLength,Wonderlic,FortyYard,Touches,Rate,RushAvg
0,2017,Austin Appleby,Florida,QB,76.125,230,9.543689,31.926566,27.080882,4.833306,852,114.3,1.6
1,2017,Bart Houston,Wisconsin,QB,75.000,234,9.543689,31.926566,27.080882,4.833306,226,142.7,-0.3
2,2017,Brad Kaaya,Miami (FL),QB,75.750,214,9.750000,32.000000,34.000000,4.833306,1282,146.2,-4.1
3,2017,C.J. Beathard,Iowa,QB,74.125,219,9.380000,30.630000,26.000000,4.833306,1006,129.8,1.9
4,2017,Chad Kelly,Mississippi,QB,73.750,224,9.543689,31.926566,22.000000,4.833306,1006,150.9,4.7
5,2017,Cooper Rush,Central Michigan,QB,74.625,228,9.130000,32.380000,27.080882,4.930000,1863,139.1,-0.5
6,2017,Dane Evans,Tulsa,QB,72.375,210,9.543689,31.926566,27.080882,4.833306,1821,131.2,0.3
7,2017,Davis Webb,California,QB,76.625,229,9.250000,33.130000,25.000000,4.790000,1444,137.1,-1.3
8,2017,Deshaun Watson,Clemson,QB,74.125,221,9.750000,33.000000,20.000000,4.660000,1642,157.5,4.4
9,2017,DeShone Kizer,Notre Dame,QB,76.125,233,9.880000,33.130000,28.000000,4.830000,959,147.7,3.8
10,2017,Gunner Kiel,Cincinnati,QB,75.250,211,9.543689,31.926566,27.080882,4.833306,935,145.5,1.6
11,2017,Jeremy Johnson,Auburn,QB,76.250,232,9.543689,31.926566,27.080882,4.833306,355,145.3,2.9
12,2017,Jerod Evans,Virginia Tech,QB,74.625,232,9.380000,33.130000,21.000000,4.800000,626,153.1,4.1
13,2017,Joshua Dobbs,Tennessee,QB,75.250,216,9.250000,32.630000,29.000000,4.640000,1437,133.2,4.9
14,2017,Justin Holman,Central Florida,QB,75.875,215,9.543689,31.926566,27.080882,4.833306,941,116.1,2.4
15,2017,Mitch Leidner,Minnesota,QB,75.375,226,10.000000,33.750000,27.080882,4.930000,1475,121.2,3.4
16,2017,Mitchell Trubisky,North Carolina,QB,74.125,222,9.500000,32.000000,25.000000,4.670000,692,157.6,3.7
17,2017,Nathan Peterman,Pittsburgh,QB,74.625,226,9.880000,32.000000,33.000000,4.820000,834,144.9,3.1
18,2017,Nick Mullens,Southern Miss,QB,72.875,214,9.543689,31.926566,27.080882,4.833306,1729,137.8,-1.1
19,2017,Patrick Mahomes,Texas Tech,QB,74.125,225,9.250000,33.250000,24.000000,4.800000,1657,152.0,2.7
20,2017,Patrick Towles,Boston Col.,QB,76.875,241,9.543689,31.926566,27.080882,4.833306,1374,115.8,1.9
21,2017,Perry Hills,Maryland,QB,74.250,209,9.543689,31.926566,27.080882,4.833306,829,123.8,2.3
22,2017,Philip Nelson,East Carolina,QB,73.375,203,9.543689,31.926566,27.080882,4.833306,911,127.2,2.7
23,2017,Phillip Walker,Temple,QB,71.250,214,9.543689,31.926566,27.080882,4.833306,1799,129.1,2.3
24,2017,Sean Maguire,Florida St.,QB,73.875,219,9.543689,31.926566,27.080882,4.833306,289,132.5,-7.3
25,2017,Sefo Liufau,Colorado,QB,75.375,232,10.750000,33.500000,27.080882,5.080000,1794,129.9,2.4
26,2017,Seth Russell,Baylor,QB,74.875,213,9.630000,32.250000,27.080882,4.833306,805,159.4,6.2
27,2017,Trevor Knight,Texas A&M,QB,72.750,219,9.543689,31.926566,27.080882,4.540000,1105,124.2,5.8
28,2017,Wes Lunt,Illinois,QB,76.250,222,9.543689,31.926566,27.080882,4.833306,1146,121.7,-5.0

In [12]:
#Create a dataframe for the 2017 draft class results

InProgressQBs = pd.DataFrame({"Player" : NewQBs["Name"], "College" : NewQBs["College"], "Prediction" : yhat})

In [13]:
#Sort the players by greatest value

InProgressQBs.sort_values(by="Prediction", ascending = False)

               Player           College  Prediction
13       Joshua Dobbs         Tennessee     19.3414
9       DeShone Kizer        Notre Dame     19.2550
8      Deshaun Watson           Clemson     15.3902
25        Sefo Liufau          Colorado     12.3181
17    Nathan Peterman        Pittsburgh     11.4530
12        Jerod Evans     Virginia Tech     10.2601
19    Patrick Mahomes        Texas Tech      9.6292
26       Seth Russell            Baylor      9.0570
2          Brad Kaaya        Miami (FL)      9.0548
27      Trevor Knight         Texas A&M      7.7551
20     Patrick Towles       Boston Col.      7.5327
16  Mitchell Trubisky    North Carolina      6.4112
15      Mitch Leidner         Minnesota      6.1811
7          Davis Webb        California      3.4888
14      Justin Holman   Central Florida      3.3405
5         Cooper Rush  Central Michigan      3.1159
0      Austin Appleby           Florida      2.3699
18       Nick Mullens     Southern Miss      2.1323
23     Phillip Walker            Temple      1.5849
11     Jeremy Johnson            Auburn      1.5774
6          Dane Evans             Tulsa      1.4069
4          Chad Kelly       Mississippi      1.2579
28           Wes Lunt          Illinois      1.2405
3       C.J. Beathard              Iowa      0.8615
10        Gunner Kiel        Cincinnati      0.6285
24       Sean Maguire       Florida St.      0.5697
22      Philip Nelson     East Carolina      0.3870
1        Bart Houston         Wisconsin      0.3590
21        Perry Hills          Maryland      0.2851

In [14]:
#Importing RB Data

RB_data = pd.read_csv("../nfl-project3/RB Machine Learning.csv")

In [15]:
#Filtering RB Data by Frequency

RB_data = RB_data.loc[RB_data["Touches"] > 100]

RB_data

,Year,Name,College,POS,Height,Weight,HandSize,ArmLength,Wonderlic,FortyYard,...,BroadJump,Shuttle,ThreeCone,SixtyYdShuttle,Touches,RushAvg,RushTDPct,RecAvg,RecTDPct,Rookie AV
1,2002,DeShaun Foster,UCLA,RB,73.000,222,NaN,NaN,NaN,4.57,...,119.0,4.16,6.82,NaN,754,4.4,0.056,9.4,0.069,20
2,2002,Chester Taylor,Toledo,RB,70.800,213,9.75,30.13,NaN,4.64,...,111.0,NaN,NaN,NaN,864,5.8,0.068,9.1,0.082,16
3,2002,Tony Fisher,Notre Dame,RB,74.000,226,NaN,NaN,NaN,4.66,...,126.0,4.13,7.00,NaN,417,4.8,0.039,12.1,0.152,15
4,2002,William Green,Boston Col.,RB,72.300,221,7.75,31.50,NaN,4.65,...,121.0,NaN,NaN,NaN,532,5.9,0.066,11.1,0.097,15
5,2002,Ladell Betts,Iowa,RB,70.500,220,9.00,30.50,NaN,4.60,...,115.0,4.06,7.06,11.33,904,4.4,0.030,9.8,0.028,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,2016,Keenan Reynolds,Navy,RB,69.500,190,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,978,4.7,0.090,47.0,0.000,0
462,2016,Keith Marshall,Georgia,RB,71.375,219,9.38,31.63,NaN,4.31,...,NaN,NaN,NaN,NaN,277,5.5,0.047,9.4,0.125,0
463,2016,Kelvin Taylor,Florida,RB,70.250,207,8.25,29.25,NaN,4.60,...,113.0,NaN,NaN,NaN,510,4.3,0.047,7.5,0.000,0
464,2016,Tyler Ervin,San Jose St.,RB,69.875,192,9.13,29.75,NaN,4.41,...,130.0,NaN,NaN,NaN,615,5.3,0.036,9.0,0.046,0
465,2016,Zac Brooks,Clemson,RB,71.875,199,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,133,5.2,0.043,11.6,0.176,0

In [16]:
#Initialize Rookie AV

target = RB_data["Rookie AV"]

In [17]:
#Prepare RB data for modeling

data = RB_data.drop(["Year", "Name", "College", "POS", "SixtyYdShuttle", "Shuttle", "BenchPress", "VertLeap", "BroadJump", "RecTDPct", "HandSize", "Wonderlic", "Weight", "ArmLength", "Rookie AV"], axis=1)
data.fillna(data.mean(), inplace=True)
feature_names = data.columns
data.head()

   Height  FortyYard  ThreeCone  Touches  RushAvg  RushTDPct  RecAvg
1    73.0       4.57   6.820000      754      4.4      0.056     9.4
2    70.8       4.64   7.054449      864      5.8      0.068     9.1
3    74.0       4.66   7.000000      417      4.8      0.039    12.1
4    72.3       4.65   7.054449      532      5.9      0.066    11.1
5    70.5       4.60   7.060000      904      4.4      0.030     9.8

In [18]:
#Randomly split the data into train and test data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=20)

In [19]:
#Create one regression tree and find the score

clf = tree.DecisionTreeRegressor()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

-0.5661283442013529

In [20]:
#Create a random forest regression and find the score

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=10000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.2541260851080992

In [21]:
#Show which variables impact the model the most

sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.24026901517282456, 'Touches'),
 (0.1923884984896745, 'FortyYard'),
 (0.14120780524906512, 'RushTDPct'),
 (0.1278439218531898, 'Height'),
 (0.12445070973913924, 'RushAvg'),
 (0.08719837739916815, 'RecAvg'),
 (0.0866416720969386, 'ThreeCone')]

In [ ]:
#Import 2017 RB data and fit it to the model

NewRBs = pd.read_csv("../nfl-project3/Runningbacks 2017.csv")

NewRBs.fillna(data.mean(), inplace=True)

predictionDF = NewRBs.drop(["Year", "Name", "College", "POS"], axis = 1)

yhat = rf.fit(X_train, y_train).predict(predictionDF)